<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="components/head :: head">
	<title> SuperDuperMarkt </title>
</head>

<body>

	<div class="p-4" style="background-color: rgba(0, 0, 0, 0.2);">
		<div th:insert="/components/header :: myheader"></div>

		<h2 class="text-white pt-2 d-flex justify-content-center align-items-center" > Willkommen zum simuliertem Regalsystem</h2>
		<div class="d-flex justify-content-center align-items-center h-100">
			<img class="m-2" src="/pics/bvb_markt.jpg" alt="Logo" width="340" height="440" >
		</div>

	</div>

</body>
</html>